<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI WasteWatch</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <a href="/" class="logo-link">
            <div class="logo">♻️ AI WasteWatch</div>
        </a>

        <nav>
            <a href="/" class="active">Home</a>
            <a href="/report">Report Waste</a>
            {% if citizen %}
            <a href="/citizen-dashboard">👤 My Dashboard</a>
            <a href="/citizen-logout" class="login-nav-btn"
                style="background: #e24a4a; padding: 6px 14px; font-size: 13px;">Sign Out 🚪</a>
            {% else %}
            <a href="/login">Citizen Login</a>
            {% endif %}
            <a href="/officer-login" class="login-nav-btn officer-btn">🏛️ Officer Portal</a>
        </nav>
    </header>




    <main>

        <section class="hero">

            <div class="hero-content">

                <p class="tagline">AI-POWERED WASTE MANAGEMENT</p>

                <h1>
                    Building a <span>Cleaner Bharat</span>
                </h1>

                <p class="description">
                    Report waste, identify garbage using AI,
                    and help create cleaner and healthier communities.
                </p>

                <a href="/report" class="report-btn">
                    📸 Report Waste
                </a>

            </div>

        </section>


        <section class="features">

            <div class="feature-card">
                <div class="icon">🤖</div>
                <h2>AI Detection</h2>
                <p>
                    AI analyzes uploaded waste images
                    and identifies the type of waste.
                </p>
            </div>

            <div class="feature-card">
                <div class="icon">📍</div>
                <h2>Smart Location</h2>
                <p>
                    Locate waste problems and visualize
                    them on an interactive map.
                </p>
            </div>

            <div class="feature-card">
                <div class="icon">📊</div>
                <h2>Smart Analytics</h2>
                <p>
                    Track waste reports and identify
                    high-priority areas.
                </p>
            </div>

        </section>

    </main>

</body>

</html>